---
import CategoryCard from "../cards/CategoryCard.astro";

const articles = [
  {
    title: "Vanilla Dream",
    imageSrc: "/img/ice-cream/1.jpg",
    imageAlt: "item 5",
    likes: 15,
    creatorAvatar: "/img/avatars/creator_1.png",
    ownerAvatar: "/img/avatars/owner_1.png",
    price: "8.49",
    supply: "2/8",
  },
  {
    title: "Chocolate Delight",
    imageSrc: "/img/ice-cream/2.jpg",
    imageAlt: "item 4",
    likes: 188,
    creatorAvatar: "/img/avatars/creator_2.png",
    ownerAvatar: "/img/avatars/owner_2.png",
    price: "5.9",
    supply: "1/7",
  },
  {
    title: "Strawberry Swirl",
    imageSrc: "/img/ice-cream/3.jpg",
    imageAlt: "item 7",
    likes: 160,
    creatorAvatar: "/img/avatars/creator_3.png",
    ownerAvatar: "/img/avatars/owner_3.png",
    price: "0.078",
    supply: "1/3",
  },
  {
    title: "Mint Chocolate Chip",
    imageSrc: "/img/ice-cream/4.jpg",
    imageAlt: "item 6",
    likes: 159,
    creatorAvatar: "/img/avatars/creator_4.png",
    ownerAvatar: "/img/avatars/owner_4.png",
    price: "10",
    supply: "2/3",
  },
  {
    title: "Cookie Dough",
    imageSrc: "/img/ice-cream/5.jpg",
    imageAlt: "item 8",
    likes: 32,
    creatorAvatar: "/img/avatars/creator_3.png",
    ownerAvatar: "/img/avatars/owner_5.png",
    price: "From 5 FLOW",
    supply: "1/1",
  },
  {
    title: "Rocky Road",
    imageSrc: "/img/ice-cream/6.jpg",
    imageAlt: "item 9",
    likes: 25,
    creatorAvatar: "/img/avatars/creator_6.png",
    ownerAvatar: "/img/avatars/owner_4.png",
    price: "0.16",
    supply: "1/1",
  },
  {
    title: "Pistachio Pleasure",
    imageSrc: "/img/ice-cream/1.jpg",
    imageAlt: "item 10",
    likes: 55,
    creatorAvatar: "/img/avatars/creator_2.png",
    ownerAvatar: "/img/avatars/owner_7.png",
    price: "0.13 FLOW",
    supply: "1/1",
  },
  {
    title: "Salted Caramel",
    imageSrc: "/img/ice-cream/2.jpg",
    imageAlt: "item 11",
    likes: 70,
    creatorAvatar: "/img/avatars/creator_8.png",
    ownerAvatar: "/img/avatars/owner_5.png",
    price: "0.8",
    supply: "1/1",
  },
];
---

<div class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-4">
  {articles.map((article) => <CategoryCard {...article} />)}
</div>
