---
import BrowseByCategoryCard from "../cards/BrowseByCategoryCard.astro";

const cards = [
  {
    src: "/img/ice-cream/1.png",
    title: "Ice Cream 1",
    color: "green",
    href: "collections",
  },
  {
    src: "/img/ice-cream/2.png",
    title: "Ice Cream 2",
    color: "orange",
    href: "collections",
  },
  {
    src: "/img/ice-cream/3.png",
    title: "Ice Cream 3",
    color: "blue",
    href: "collections",
  },
  {
    src: "/img/ice-cream/4.png",
    title: "Ice Cream 4",
    color: "green",
    href: "collections",
  },
  {
    src: "/img/ice-cream/5.png",
    title: "Ice Cream 5",
    color: "orange",
    href: "collections",
  },
  {
    src: "/img/ice-cream/6.png",
    title: "Ice Cream 6",
    color: "blue",
    href: "collections",
  },
  {
    src: "/img/ice-cream/1.png",
    title: "Ice Cream 7",
    color: "green",
    href: "collections",
  },
  {
    src: "/img/ice-cream/2.png",
    title: "Ice Cream 8",
    color: "orange",
    href: "collections",
  },
];
---

<section class="py-24">
  <h2
    class="mb-8 text-center font-display text-3xl text-jacarta-700 dark:text-white"
  >
    Browse by category
  </h2>

  <!-- Slider -->
  <div class="relative">
    <div class="swiper centered-slider !pb-5">
      <div class="swiper-wrapper">
        <!-- Slides -->
        {
          cards.map((card) => (
            <div class="swiper-slide">
              <BrowseByCategoryCard {...card} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
