<section class="py-24">
  <h2
    class="mb-8 text-center font-display text-3xl text-jacarta-700 dark:text-white"
  >
    Browse by category
  </h2>

  <!-- Slider -->
  <div class="relative">
    <div class="swiper centered-slider !pb-5">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <article>
            <a
              href="collections.html"
              class="block rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700"
            >
              <figure class="rounded-t-[0.625rem] bg-green">
                <img
                  src="./img/categories/category_1.png"
                  alt="item 1"
                  class="w-full rounded-[0.625rem]"
                  loading="lazy"
                />
              </figure>
              <div class="mt-4 text-center">
                <span
                  class="font-display text-lg text-jacarta-700 dark:text-white"
                  >Art</span
                >
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <a
              href="collections.html"
              class="block rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700"
            >
              <figure class="rounded-t-[0.625rem] bg-orange">
                <img
                  src="./img/categories/category_2.png"
                  alt="item 2"
                  class="w-full rounded-[0.625rem]"
                  loading="lazy"
                />
              </figure>
              <div class="mt-4 text-center">
                <span
                  class="font-display text-lg text-jacarta-700 dark:text-white"
                  >Collectibles</span
                >
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <a
              href="collections.html"
              class="block rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700"
            >
              <figure class="rounded-t-[0.625rem] bg-accent">
                <img
                  src="./img/categories/category_3.png"
                  alt="item 2"
                  class="w-full rounded-[0.625rem]"
                  loading="lazy"
                />
              </figure>
              <div class="mt-4 text-center">
                <span
                  class="font-display text-lg text-jacarta-700 dark:text-white"
                  >Domain Names</span
                >
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <a
              href="collections.html"
              class="block rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700"
            >
              <figure class="rounded-t-[0.625rem] bg-[#46C7E3]">
                <img
                  src="./img/categories/category_4.png"
                  alt="item 1"
                  class="w-full rounded-[0.625rem]"
                  loading="lazy"
                />
              </figure>
              <div class="mt-4 text-center">
                <span
                  class="font-display text-lg text-jacarta-700 dark:text-white"
                  >Virtual Worlds</span
                >
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <a
              href="collections.html"
              class="block rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700"
            >
              <figure class="rounded-t-[0.625rem] bg-[#737EF2]">
                <img
                  src="./img/categories/category_5.png"
                  alt="item 1"
                  class="w-full rounded-[0.625rem]"
                  loading="lazy"
                />
              </figure>
              <div class="mt-4 text-center">
                <span
                  class="font-display text-lg text-jacarta-700 dark:text-white"
                  >Sport</span
                >
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <a
              href="collections.html"
              class="block rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700"
            >
              <figure class="rounded-t-[0.625rem] bg-blue">
                <img
                  src="./img/categories/category_6.png"
                  alt="item 2"
                  class="w-full rounded-[0.625rem]"
                  loading="lazy"
                />
              </figure>
              <div class="mt-4 text-center">
                <span
                  class="font-display text-lg text-jacarta-700 dark:text-white"
                  >Photography</span
                >
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article>
            <a
              href="collections.html"
              class="block rounded-2.5xl border border-jacarta-100 bg-white p-[1.1875rem] transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700"
            >
              <figure class="rounded-t-[0.625rem] bg-[#F35BC7]">
                <img
                  src="./img/categories/category_7.png"
                  alt="item 2"
                  class="w-full rounded-[0.625rem]"
                  loading="lazy"
                />
              </figure>
              <div class="mt-4 text-center">
                <span
                  class="font-display text-lg text-jacarta-700 dark:text-white"
                  >Music</span
                >
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
