<div class="relative px-6 pb-16 sm:px-0">
  <!-- Slider -->
  <div class="swiper coverflow-slider !py-5">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <article>
          <div
            class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
          >
            <figure class="relative">
              <a href="item.html">
                <img
                  src="/img/products/item_13_lg.gif"
                  alt="item 1"
                  class="swiper-lazy h-[430px] w-full object-cover"
                  height="430"
                  width="379"
                />
                <div class="swiper-lazy-preloader"></div>
              </a>
            </figure>
            <div class="p-6">
              <div class="flex">
                <a href="user.html" class="shrink-0">
                  <img
                    src="img/avatars/avatar_18_rounded.gif"
                    alt="avatar"
                    class="mr-4 h-10 w-10 rounded-full"
                  />
                </a>
                <div>
                  <a href="item.html" class="block">
                    <span
                      class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                      >Etherium NFT Launching Lab</span
                    >
                  </a>
                  <a href="#" class="text-2xs text-accent">051_Hart</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <div
            class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
          >
            <figure class="relative">
              <a href="item.html">
                <img
                  src="/img/products/item_16_lg.jpg"
                  alt="item 1"
                  class="swiper-lazy h-[430px] w-full object-cover"
                  height="430"
                  width="379"
                />
                <div class="swiper-lazy-preloader"></div>
              </a>
            </figure>
            <div class="p-6">
              <div class="flex">
                <a href="user.html" class="shrink-0">
                  <img
                    src="img/avatars/avatar_22_rounded.jpg"
                    alt="avatar"
                    class="mr-4 h-10 w-10 rounded-full"
                  />
                </a>
                <div>
                  <a href="item.html" class="block">
                    <span
                      class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                      >Oceania \\ OVERSEER 017</span
                    >
                  </a>
                  <a href="#" class="text-2xs text-accent">MadeByM1KE</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <div
            class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
          >
            <figure class="relative">
              <a href="item.html">
                <img
                  src="/img/products/item_12_lg.jpg"
                  alt="item 1"
                  height="430"
                  width="379"
                  class="swiper-lazy h-[430px] w-full object-cover"
                />
                <div class="swiper-lazy-preloader"></div>
              </a>
            </figure>
            <div class="p-6">
              <div class="flex">
                <a href="user.html" class="shrink-0">
                  <img
                    src="img/avatars/avatar_17_rounded.jpg"
                    alt="avatar"
                    class="mr-4 h-10 w-10 rounded-full"
                  />
                </a>
                <div>
                  <a href="item.html" class="block">
                    <span
                      class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                      >Light Bars</span
                    >
                  </a>
                  <a href="#" class="text-2xs text-accent">Wow Frens</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="swiper-slide">
        <article>
          <div
            class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
          >
            <figure class="relative">
              <a href="item.html">
                <img
                  src="/img/pixel.jpg"
                  data-src="/img/products/item_14_lg.jpg"
                  alt="item 1"
                  class="swiper-lazy h-[430px] w-full object-cover"
                  height="430"
                  width="379"
                />
                <div class="swiper-lazy-preloader"></div>
              </a>
            </figure>
            <div class="p-6">
              <div class="flex">
                <a href="user.html" class="shrink-0">
                  <img
                    src="img/avatars/avatar_19_rounded.jpg"
                    alt="avatar"
                    class="mr-4 h-10 w-10 rounded-full"
                  />
                </a>
                <div>
                  <a href="item.html" class="block">
                    <span
                      class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                      >Amazing NFT art</span
                    >
                  </a>
                  <a href="#" class="text-2xs text-accent">Lila Spacex</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article>
          <div
            class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
          >
            <figure class="relative">
              <a href="item.html">
                <img
                  src="/img/pixel.jpg"
                  data-src="/img/products/item_15_lg.jpg"
                  alt="item 1"
                  class="swiper-lazy h-[430px] w-full object-cover"
                  height="430"
                  width="379"
                />
                <div class="swiper-lazy-preloader"></div>
              </a>
            </figure>
            <div class="p-6">
              <div class="flex">
                <a href="user.html" class="shrink-0">
                  <img
                    src="img/avatars/avatar_20_rounded.jpg"
                    alt="avatar"
                    class="mr-4 h-10 w-10 rounded-full"
                  />
                </a>
                <div>
                  <a href="item.html" class="block">
                    <span
                      class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                      >SwagFox#133</span
                    >
                  </a>
                  <a href="#" class="text-2xs text-accent">Bored Bunny</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div
    class="swiper-button-prev swiper-button-prev-4 group absolute top-1/2 left-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      class="fill-jacarta-700 group-hover:fill-accent"
    >
      <path fill="none" d="M0 0h24v24H0z"></path>
      <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"
      ></path>
    </svg>
  </div>
  <div
    class="swiper-button-next swiper-button-next-4 group absolute top-1/2 right-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      class="fill-jacarta-700 group-hover:fill-accent"
    >
      <path fill="none" d="M0 0h24v24H0z"></path>
      <path
        d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"
      ></path>
    </svg>
  </div>
</div>
