---
import CoverflowCard from "../cards/CoverflowCard.astro";

interface Card {
  title: string;
  image: string;
  href: string;
  category: {
    name: string;
    image: string;
    href: string;
  };
}

const cards: Card[] = [
  {
    title: "Ice Cream 1",
    image: "/img/ice-cream/1.jpg",
    href: "item",
    category: {
      name: "Food",
      image: "/img/ice-cream/1.jpg",
      href: "user",
    },
  },
  {
    title: "Ice Cream 2",
    image: "/img/ice-cream/2.jpg",
    href: "item",
    category: {
      name: "Food",
      image: "/img/ice-cream/2.jpg",
      href: "user",
    },
  },
  {
    title: "Ice Cream 3",
    image: "/img/ice-cream/3.jpg",
    href: "item",
    category: {
      name: "Food",
      image: "/img/ice-cream/3.jpg",
      href: "user",
    },
  },
  {
    title: "Ice Cream 4",
    image: "/img/ice-cream/4.jpg",
    href: "item",
    category: {
      name: "Food",
      image: "/img/ice-cream/4.jpg",
      href: "user",
    },
  },
  {
    title: "Ice Cream 5",
    image: "/img/ice-cream/5.jpg",
    href: "item",
    category: {
      name: "Food",
      image: "/img/ice-cream/5.jpg",
      href: "user",
    },
  },
  {
    title: "Ice Cream 6",
    image: "/img/ice-cream/6.jpg",
    href: "item",
    category: {
      name: "Food",
      image: "/img/ice-cream/6.jpg",
      href: "user",
    },
  },
];
---

<div class="relative px-6 pb-16 sm:px-0">
  <!-- Slider -->
  <div class="swiper coverflow-slider !py-5">
    <div class="swiper-wrapper">
      <!-- Slides -->
      {
        cards.map((card) => (
          <div class="swiper-slide">
            <CoverflowCard {...card} />
          </div>
        ))
      }
    </div>
  </div>

  <!-- Navigation -->
  <div
    class="swiper-button-prev swiper-button-prev-4 group absolute top-1/2 left-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      class="fill-jacarta-700 group-hover:fill-accent"
    >
      <path fill="none" d="M0 0h24v24H0z"></path>
      <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"
      ></path>
    </svg>
  </div>
  <div
    class="swiper-button-next swiper-button-next-4 group absolute top-1/2 right-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      class="fill-jacarta-700 group-hover:fill-accent"
    >
      <path fill="none" d="M0 0h24v24H0z"></path>
      <path
        d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"
      ></path>
    </svg>
  </div>
</div>
