---
import CollectionsSlider from "../sliders/CollectionSlider.astro";
---

<section class="py-24">
  <div class="container">
    <h2
      class="mb-8 text-center font-display text-3xl text-jacarta-700 dark:text-white"
    >
      <span
        class="mr-1 inline-block h-6 w-6 bg-contain bg-center text-xl"
        style="
                background-image: url(https://cdn.jsdelivr.net/npm/emoji-datasource-apple@7.0.2/img/apple/64/1f4a5.png);
              "
      ></span>
      Featured collections
    </h2>

    <CollectionsSlider />
  </div>
</section>
