<section class="relative h-screen">
  <div class="swiper full-slider h-screen">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div
        class="swiper-slide after:absolute after:inset-0 after:bg-jacarta-900/60"
      >
        <div class="container relative z-10 h-full pt-40">
          <h2 class="font-display text-2xl font-semibold text-white">
            <a href="item.html">Portrait Gallery</a>
          </h2>
          <a href="user.html" class="text-2xs font-medium text-white"
            >By 051_Hart</a
          >
        </div>
        <img
          src="/img/hero/hero_slide_1.jpg"
          class="absolute inset-0 h-full w-full object-cover"
          alt="slide 1"
        />
      </div>
      <div
        class="swiper-slide after:absolute after:inset-0 after:bg-jacarta-900/60"
      >
        <div class="container relative z-10 h-full pt-40">
          <h2 class="font-display text-2xl font-semibold text-white">
            <a href="item.html">Oceania \\ OVERSEER 017</a>
          </h2>
          <a href="user.html" class="text-2xs font-medium text-white"
            >By THE OVERSEERS</a
          >
        </div>
        <img
          src="./img/pixel.jpg"
          data-src="/img/hero/hero_slide_2.jpg"
          class="swiper-lazy absolute inset-0 h-full w-full object-cover"
          alt="slide 2"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div
        class="swiper-slide after:absolute after:inset-0 after:bg-jacarta-900/60"
      >
        <div class="container relative z-10 h-full pt-40">
          <h2 class="font-display text-2xl font-semibold text-white">
            <a href="item.html">Shiba #368</a>
          </h2>
          <a href="user.html" class="text-2xs font-medium text-white"
            >Generous Shiba Club</a
          >
        </div>
        <img
          src="./img/pixel.jpg"
          data-src="/img/hero/hero_slide_3.jpg"
          class="swiper-lazy absolute inset-0 h-full w-full object-cover"
          alt="slide 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div
        class="swiper-slide after:absolute after:inset-0 after:bg-jacarta-900/60"
      >
        <div class="container relative z-10 h-full pt-40">
          <h2 class="font-display text-2xl font-semibold text-white">
            <a href="item.html"
              >Palettes of Aotearoa - The Place of greenstone #01</a
            >
          </h2>
          <a href="user.html" class="text-2xs font-medium text-white"
            >LeeCookNZ</a
          >
        </div>
        <img
          src="./img/pixel.jpg"
          data-src="/img/hero/hero_slide_4.jpg"
          class="swiper-lazy absolute inset-0 h-full w-full object-cover"
          alt="slide 4"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  </div>
  <!-- end main slider -->

  <!-- Thumbs -->
  <div class="absolute inset-x-0 bottom-12">
    <div class="container">
      <div class="swiper full-slider-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide cursor-pointer rounded p-5">
            <img
              src="/img/hero/hero_slide_1_thumb.jpg"
              class="w-full rounded-lg"
              alt="thumb 1"
            />
            <div
              class="carousel-progress relative -bottom-5 z-10 -ml-5 -mr-5 h-0.5 bg-white/20"
            >
              <div class="progress absolute h-0.5 w-0 bg-accent"></div>
            </div>
          </div>
          <div class="swiper-slide cursor-pointer rounded p-5">
            <img
              src="/img/hero/hero_slide_2_thumb.jpg"
              class="w-full rounded-lg"
              alt="thumb 2"
            />
            <div
              class="carousel-progress relative -bottom-5 z-10 -ml-5 -mr-5 h-0.5 bg-white/20"
            >
              <div class="progress absolute h-0.5 w-0 bg-accent"></div>
            </div>
          </div>
          <div class="swiper-slide cursor-pointer rounded p-5">
            <img
              src="/img/hero/hero_slide_3_thumb.jpg"
              class="w-full rounded-lg"
              alt="thumb 3"
            />
            <div
              class="carousel-progress relative -bottom-5 z-10 -ml-5 -mr-5 h-0.5 bg-white/20"
            >
              <div class="progress absolute h-0.5 w-0 bg-accent"></div>
            </div>
          </div>
          <div class="swiper-slide cursor-pointer rounded p-5">
            <img
              src="/img/hero/hero_slide_4_thumb.jpg"
              class="w-full rounded-lg"
              alt="thumb 4"
            />
            <div
              class="carousel-progress relative -bottom-5 z-10 -ml-5 -mr-5 h-0.5 bg-white/20"
            >
              <div class="progress absolute h-0.5 w-0 bg-accent"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end thumbs slider -->
</section>
