---
import HotBidSlider from "../sliders/HotBidSlider.astro";
import SliderNavigation from "../sliders/SliderNavigation.astro";

const emoji =
  "https://cdn.jsdelivr.net/npm/emoji-datasource-apple@7.0.2/img/apple/64/1f366.png";

const cardData = [
  {
    title: "Strawberry Swirl",
    image: "https://cdn.loveandlemons.com/wp-content/uploads/2023/06/homemade-ice-cream.jpg",
    price: 4.99,
    currentBid: 7.99,
    likes: 159,
  },
  {
    title: "Rum & Raisin",
    image: "https://www.recipetineats.com/tachyon/2023/01/Rum-and-raisin-ice-cream-in-cone.jpg",
    price: 5.49,
    currentBid: 8.99,
    likes: 75,
  },
  {
    title: "Chocolate Dream",
    image: "https://foolproofliving.com/wp-content/uploads/2013/10/recipe-for-honey-chocolate-ice-cream.jpg",
    price: 5.99,
    currentBid: 9.99,
    likes: 253,
  },
  {
    title: "Vanilla Bean",
    image: "https://itsnotcomplicatedrecipes.com/wp-content/uploads/2021/10/No-Churn-Lemon-Ice-Cream-Feature.jpg",
    price: 4.49,
    currentBid: 7.49,
    likes: 324,
  },
  {
    title: "Mint Chocolate Chip",
    image: "/img/ice-cream/jumping.gif",
    price: 5.99,
    currentBid: 9.99,
    likes: 54,
  },
  {
    title: "Caramel Swirl",
    image: "/img/ice-cream/1.jpg",
    price: 5.49,
    currentBid: 8.99,
    likes: 125,
  },
];

---

<section class="pt-10 pb-24">
  <div class="container">
    <h2
      class="mb-8 text-center font-display text-3xl text-jacarta-700 dark:text-white"
    >
      <span
        class="mr-1 inline-block h-6 w-6 bg-contain bg-center text-xl"
        style=`background-image: url(${emoji});`></span>
      Featured Flavors
    </h2>

    <div class="relative">
      <HotBidSlider cards={cardData} />
      <SliderNavigation />
    </div>
  </div>
</section>
