<section class="pb-24">
  <div class="container">
    <!-- Video Lightbox -->
    <figure
      class="relative mt-16 overflow-hidden rounded-3xl before:absolute before:inset-0 before:bg-jacarta-900/25 lg:-mt-96"
    >
      <img src="/img/about/video_cover.jpg" class="w-full" alt="video" />
      <a
        href="https://www.youtube.com/embed/dQw4w9WgXcQ"
        data-bs-toggle="modal"
        data-bs-target=".video-lightbox"
        class="js-video-modal-trigger absolute top-1/2 left-1/2 flex h-24 w-24 -translate-y-1/2 -translate-x-1/2 items-center justify-center rounded-full border-2 border-white transition-transform will-change-transform hover:scale-90"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="h-rotate h-8 w-8 fill-white"
        >
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M19.376 12.416L8.777 19.482A.5.5 0 0 1 8 19.066V4.934a.5.5 0 0 1 .777-.416l10.599 7.066a.5.5 0 0 1 0 .832z"
          ></path>
        </svg>
      </a>
    </figure>

    <!-- Statistics -->
    <div class="pt-24">
      <h2
        class="mb-16 text-center font-display text-3xl text-jacarta-700 dark:text-white"
      >
        Numbers Speak
      </h2>

      <div class="grid grid-cols-2 md:grid-cols-4">
        <div class="mb-10 text-center">
          <span
            class="block font-display text-5xl text-jacarta-700 dark:text-white"
            >2019</span
          >
          <span class="block dark:text-jacarta-300">Founded</span>
        </div>
        <div class="mb-10 text-center">
          <span
            class="block font-display text-5xl text-jacarta-700 dark:text-white"
            >$178M</span
          >
          <span class="block dark:text-jacarta-300">Trading volume</span>
        </div>
        <div class="mb-10 text-center">
          <span
            class="block font-display text-5xl text-jacarta-700 dark:text-white"
            >305K</span
          >
          <span class="block dark:text-jacarta-300">NFTs created</span>
        </div>
        <div class="mb-10 text-center">
          <span
            class="block font-display text-5xl text-jacarta-700 dark:text-white"
            >1.6M</span
          >
          <span class="block dark:text-jacarta-300">Total users</span>
        </div>
      </div>
    </div>
  </div>
</section>
