---
import LiveAuctionCard from "../cards/LiveAuctionCard.astro";

const cards = [
  {
    title: "Ice Cream 1",
    likes: 15,
    image: "/img/ice-cream/1.jpg",
  },
  {
    title: "Ice Cream 2",
    likes: 15,
    image: "/img/ice-cream/2.jpg",
  },
  {
    title: "Ice Cream 3",
    likes: 15,
    image: "/img/ice-cream/3.jpg",
  },
  {
    title: "Ice Cream 4",
    likes: 15,
    image: "/img/ice-cream/4.jpg",
  },
  {
    title: "Ice Cream 5",
    likes: 15,
    image: "/img/ice-cream/5.jpg",
  },
  {
    title: "Ice Cream 6",
    likes: 15,
    image: "/img/ice-cream/6.jpg",
  },
  {
    title: "Ice Cream 7",
    likes: 15,
    image: "/img/ice-cream/1.jpg",
  },
  {
    title: "Ice Cream 8",
    likes: 15,
    image: "/img/ice-cream/2.jpg",
  },
];
---

<section class="py-24">
  <div class="container">
    <h2
      class="mb-8 text-center font-display text-3xl text-jacarta-700 dark:text-white"
    >
      <span
        class="mr-1 inline-block h-6 w-6 animate-heartBeat bg-contain bg-center text-xl"
        style="
                background-image: url(https://cdn.jsdelivr.net/npm/emoji-datasource-apple@7.0.2/img/apple/64/2764-fe0f.png);
              "
      ></span>
      Live Auctions
    </h2>
    <div class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-4">
      {cards.map((card) => <LiveAuctionCard {...card} />)}
    </div>

    <div class="mt-10 text-center">
      <a
        href="collections.html"
        class="inline-block rounded-full bg-accent py-3 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
        >Conoce Mas</a
      >
    </div>
  </div>
</section>
