---
import BuyNowModal from "../components/modals/BuyNowModal.astro";
import WalletModal from "../components/modals/WalletModal.astro";
import YoutubeVideoModal from "../components/modals/YoutubeVideoModal.astro";
import IntroStatistics from "../components/sections/IntroStatistics.astro";
import LatestPosts from "../components/sections/LatestPosts.astro";
import Partners from "../components/sections/Partners.astro";
import Story from "../components/sections/Story.astro";
import Team from "../components/sections/Team.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <main>
    <!-- Page title -->
    <section class="relative pt-24 lg:pb-96">
      <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
        <img
          src="/img/gradient_light.jpg"
          alt="gradient"
          class="h-full w-full"
        />
      </picture>
      <div class="container">
        <!-- Page Title -->
        <div class="mx-auto max-w-2xl py-16 text-center">
          <h1
            class="mb-8 font-display text-4xl font-medium text-jacarta-700 dark:text-white"
          >
            About Xhibiter
          </h1>
          <p class="text-lg leading-normal dark:text-jacarta-300">
            Every digital creation available through MakersPlace is an authentic
            and truly unique digital creation, signed and issued by the creator
            — made possible by blockchain technology.
          </p>
        </div>
      </div>
    </section>

    <IntroStatistics />
    <Story />
    <Team />
    <Partners />
    <LatestPosts />
  </main>

  <YoutubeVideoModal />
  <WalletModal />
  <BuyNowModal />
</HomeLayout>
