---
import HomeLayout from "../layouts/HomeLayout.astro";
import WalletModal from "../components/modals/WalletModal.astro";
import BuyNowModal from "../components/modals/BuyNowModal.astro";
---

<HomeLayout>
    <main class="pt-[5.5rem] lg:pt-24">
        <!-- Blog -->
        <section class="relative py-16 md:py-24">
            <picture
                class="pointer-events-none absolute inset-0 -z-10 dark:hidden"
            >
                <img
                    src="img/gradient_light.jpg"
                    alt="gradient"
                    class="h-full w-full"
                />
            </picture>
            <div class="container">
                <!-- Featured Post -->
                <article class="mb-[1.875rem] md:mb-16">
                    <div
                        class="flex flex-col overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg md:flex-row"
                    >
                        <figure class="group overflow-hidden md:w-1/2">
                            <a href="single-post">
                                <img
                                    src="img/blog/post_1.jpg"
                                    alt="post 1"
                                    class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"
                                />
                            </a>
                        </figure>
                        <!-- Body -->
                        <div
                            class="rounded-b-[1.25rem] border border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700 md:w-1/2 md:rounded-none md:rounded-r-[1.25rem]"
                        >
                            <!-- Meta -->
                            <div
                                class="mb-3 flex flex-wrap items-center space-x-1 text-xs"
                            >
                                <a
                                    href="#"
                                    class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                                    >Deothemes</a
                                >
                                <span class="dark:text-jacarta-400">in</span>
                                <span
                                    class="inline-flex flex-wrap items-center space-x-1 text-accent"
                                >
                                    <a href="#">Flavors</a>
                                    <a href="#">Desserts</a>
                                </span>
                            </div>
                            <h2
                                class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent sm:text-3xl"
                            >
                                <a href="single-post">
                                    Introducing our new ice cream collection
                                </a>
                            </h2>
                            <p class="mb-8 dark:text-jacarta-200">
                                Since we launched our ice cream shop at the end of 2021, many awesome flavors...
                            </p>
                            <!-- Date / Time -->
                            <div
                                class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400"
                            >
                                <span
                                    ><time datetime="2022-02-05">5 Feb</time
                                    ></span
                                >
                                <span>•</span>
                                <span>3 min read</span>
                            </div>
                        </div>
                    </div>
                </article>
                <div
                    class="grid grid-cols-1 gap-[1.875rem] sm:grid-cols-2 md:grid-cols-3"
                >
                    <!-- Posts -->
                    <article>
                        <div
                            class="overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg"
                        >
                            <figure class="group overflow-hidden">
                                <a href="single-post">
                                    <img
                                        src="img/blog/post_2.jpg"
                                        alt="post 2"
                                        class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"
                                    />
                                </a>
                            </figure>
                            <!-- Body -->
                            <div
                                class="rounded-b-[1.25rem] border border-t-0 border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700"
                            >
                                <!-- Meta -->
                                <div
                                    class="mb-3 flex flex-wrap items-center space-x-1 text-xs"
                                >
                                    <a
                                        href="#"
                                        class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                                        >Deothemes</a
                                    >
                                    <span class="dark:text-jacarta-400">in</span
                                    >
                                    <span
                                        class="inline-flex flex-wrap items-center space-x-1 text-accent"
                                    >
                                        <a href="#">Flavors</a>
                                        <a href="#">Desserts</a>
                                    </span>
                                </div>
                                <h2
                                    class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent"
                                >
                                    <a href="single-post">
                                        Create your own ice cream flavors
                                    </a>
                                </h2>
                                <p class="mb-8 dark:text-jacarta-200">
                                    Since we launched our ice cream shop at the end of 2021, many awesome flavors...
                                </p>
                                <!-- Date / Time -->
                                <div
                                    class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400"
                                >
                                    <span
                                        ><time datetime="2022-02-05">5 Feb</time
                                        ></span
                                    >
                                    <span>•</span>
                                    <span>3 min read</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div
                            class="overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg"
                        >
                            <figure class="group overflow-hidden">
                                <a href="single-post">
                                    <img
                                        src="img/blog/post_3.jpg"
                                        alt="post 3"
                                        class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"
                                    />
                                </a>
                            </figure>
                            <!-- Body -->
                            <div
                                class="rounded-b-[1.25rem] border border-t-0 border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700"
                            >
                                <!-- Meta -->
                                <div
                                    class="mb-3 flex flex-wrap items-center space-x-1 text-xs"
                                >
                                    <a
                                        href="#"
                                        class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                                        >Deothemes</a
                                    >
                                    <span class="dark:text-jacarta-400">in</span
                                    >
                                    <span
                                        class="inline-flex flex-wrap items-center space-x-1 text-accent"
                                    >
                                        <a href="#">Flavors</a>
                                        <a href="#">Desserts</a>
                                    </span>
                                </div>
                                <h2
                                    class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent"
                                >
                                    <a href="single-post"
                                        >Introducing our new gelato collection</a
                                    >
                                </h2>
                                <p class="mb-8 dark:text-jacarta-200">
                                    Since we launched our ice cream shop at the end of 2021, many awesome flavors...
                                </p>
                                <!-- Date / Time -->
                                <div
                                    class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400"
                                >
                                    <span
                                        ><time datetime="2022-02-05"
                                            >22 Feb</time
                                        ></span
                                    >
                                    <span>•</span>
                                    <span>3 min read</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div
                            class="overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg"
                        >
                            <figure class="group overflow-hidden">
                                <a href="single-post">
                                    <img
                                        src="img/blog/post_4.jpg"
                                        alt="post 4"
                                        class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"
                                    />
                                </a>
                            </figure>
                            <!-- Body -->
                            <div
                                class="rounded-b-[1.25rem] border border-t-0 border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700"
                            >
                                <!-- Meta -->
                                <div
                                    class="mb-3 flex flex-wrap items-center space-x-1 text-xs"
                                >
                                    <a
                                        href="#"
                                        class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                                        >Deothemes</a
                                    >
                                    <span class="dark:text-jacarta-400">in</span
                                    >
                                    <span
                                        class="inline-flex flex-wrap items-center space-x-1 text-accent"
                                    >
                                        <a href="#">Flavors</a>
                                        <a href="#">Desserts</a>
                                    </span>
                                </div>
                                <h2
                                    class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent"
                                >
                                    <a href="single-post"
                                        >The biggest trends in ice cream, gelato,
                                        and frozen treats</a
                                    >
                                </h2>
                                <p class="mb-8 dark:text-jacarta-200">
                                    Since we launched our ice cream shop at the end of 2021, many awesome flavors...
                                </p>
                                <!-- Date / Time -->
                                <div
                                    class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400"
                                >
                                    <span
                                        ><time datetime="2022-02-05"
                                            >18 Jan</time
                                        ></span
                                    >
                                    <span>•</span>
                                    <span>3 min read</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div
                            class="overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg"
                        >
                            <figure class="group overflow-hidden">
                                <a href="single-post">
                                    <img
                                        src="img/blog/post_5.jpg"
                                        alt="post 5"
                                        class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"
                                    />
                                </a>
                            </figure>
                            <!-- Body -->
                            <div
                                class="rounded-b-[1.25rem] border border-t-0 border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700"
                            >
                                <!-- Meta -->
                                <div
                                    class="mb-3 flex flex-wrap items-center space-x-1 text-xs"
                                >
                                    <a
                                        href="#"
                                        class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                                        >Deothemes</a
                                    >
                                    <span class="dark:text-jacarta-400">in</span
                                    >
                                    <span
                                        class="inline-flex flex-wrap items-center space-x-1 text-accent"
                                    >
                                        <a href="#">Flavors</a>
                                        <a href="#">Desserts</a>
                                    </span>
                                </div>
                                <h2
                                    class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent"
                                >
                                    <a href="single-post"
                                        >Incredible Amount of Ice Cream Energy'
                                        in Our Shop</a
                                    >
                                </h2>
                                <p class="mb-8 dark:text-jacarta-200">
                                    Since we launched our ice cream shop at the end of 2021, many awesome flavors...
                                </p>
                                <!-- Date / Time -->
                                <div
                                    class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400"
                                >
                                    <span
                                        ><time datetime="2022-02-05"
                                            >15 Jan</time
                                        ></span
                                    >
                                    <span>•</span>
                                    <span>3 min read</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div
                            class="overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg"
                        >
                            <figure class="group overflow-hidden">
                                <a href="single-post">
                                    <img
                                        src="img/blog/post_6.jpg"
                                        alt="post 6"
                                        class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"
                                    />
                                </a>
                            </figure>
                            <!-- Body -->
                            <div
                                class="rounded-b-[1.25rem] border border-t-0 border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700"
                            >
                                <!-- Meta -->
                                <div
                                    class="mb-3 flex flex-wrap items-center space-x-1 text-xs"
                                >
                                    <a
                                        href="#"
                                        class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                                        >Deothemes</a
                                    >
                                    <span class="dark:text-jacarta-400">in</span
                                    >
                                    <span
                                        class="inline-flex flex-wrap items-center space-x-1 text-accent"
                                    >
                                        <a href="#">Flavors</a>
                                        <a href="#">Desserts</a>
                                    </span>
                                </div>
                                <h2
                                    class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent"
                                >
                                    <a href="single-post"
                                        >Prices are up, it matters: High prices
                                        plague Our Ice Cream Shop</a
                                    >
                                </h2>
                                <p class="mb-8 dark:text-jacarta-200">
                                    Since we launched our ice cream shop at the end of 2021, many awesome flavors...
                                </p>
                                <!-- Date / Time -->
                                <div
                                    class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400"
                                >
                                    <span
                                        ><time datetime="2022-02-05"
                                            >23 Dec</time
                                        ></span
                                    >
                                    <span>•</span>
                                    <span>3 min read</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div
                            class="overflow-hidden rounded-2.5xl transition-shadow hover:shadow-lg"
                        >
                            <figure class="group overflow-hidden">
                                <a href="single-post">
                                    <img
                                        src="img/blog/post_7.jpg"
                                        alt="post 7"
                                        class="h-full w-full object-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105"
                                    />
                                </a>
                            </figure>
                            <!-- Body -->
                            <div
                                class="rounded-b-[1.25rem] border border-t-0 border-jacarta-100 bg-white p-[10%] dark:border-jacarta-600 dark:bg-jacarta-700"
                            >
                                <!-- Meta -->
                                <div
                                    class="mb-3 flex flex-wrap items-center space-x-1 text-xs"
                                >
                                    <a
                                        href="#"
                                        class="font-display text-jacarta-700 hover:text-accent dark:text-jacarta-200"
                                        >Deothemes</a
                                    >
                                    <span class="dark:text-jacarta-400">in</span
                                    >
                                    <span
                                        class="inline-flex flex-wrap items-center space-x-1 text-accent"
                                    >
                                        <a href="#">Flavors</a>
                                        <a href="#">Desserts</a>
                                    </span>
                                </div>
                                <h2
                                    class="mb-4 font-display text-xl text-jacarta-700 hover:text-accent dark:text-white dark:hover:text-accent"
                                >
                                    <a href="single-post"
                                        >What to do when the ice cream market is
                                        going everywhere</a
                                    >
                                </h2>
                                <p class="mb-8 dark:text-jacarta-200">
                                    Since we launched our ice cream shop at the end of 2021, many awesome flavors...
                                </p>
                                <!-- Date / Time -->
                                <div
                                    class="flex flex-wrap items-center space-x-2 text-sm text-jacarta-400"
                                >
                                    <span
                                        ><time datetime="2022-02-05"
                                            >15 Dec</time
                                        ></span
                                    >
                                    <span>•</span>
                                    <span>3 min read</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Load More -->
                <div class="mt-10 text-center">
                    <a
                        href="blog"
                        class="inline-block rounded-full bg-accent py-3 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
                        >Load More</a
                    >
                </div>
            </div>
        </section>
        <!-- end blog -->
    </main>
    <WalletModal />
    <BuyNowModal />
</HomeLayout>
