---
import HomeLayout from "../layouts/HomeLayout.astro"
import BuyNowModal from "../components/modals/BuyNowModal.astro"
import WalletModal from "../components/modals/WalletModal.astro"
import CollectionsGrid from "../components/sections/CollectionsGrid.astro"

---
<HomeLayout>
  <main>
    <!-- Collections -->
    <CollectionsGrid title="Explora los productos de Frupys" />
    <!-- end collections -->
  </main>
  <WalletModal />
  <BuyNowModal />
</HomeLayout>
