---
import BuyNowModal from "../components/modals/BuyNowModal.astro";
import PlaceBidModal from "../components/modals/PlaceBidModal.astro";
import WalletModal from "../components/modals/WalletModal.astro";
import BrowseByCategory from "../components/sections/BrowseByCategory.astro";
import CTADownloadApp from "../components/sections/CTADownloadApp.astro";
import DropsSellersBuyers from "../components/sections/DropsSellersBuyers.astro";
import Hero6 from "../components/sections/Hero6.astro";
import HotBids from "../components/sections/HotBids.astro";
import LiveAuctions from "../components/sections/LiveAuctions.astro";
import Partners from "../components/sections/Partners.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <main class="pt-[5.5rem] lg:pt-24">
    <Hero6 />
    <HotBids />
    <DropsSellersBuyers />
    <LiveAuctions />
    <BrowseByCategory />
    <Partners />
    <CTADownloadApp />
  </main>

  <WalletModal />
  <BuyNowModal />
  <PlaceBidModal />
</HomeLayout>
<script is:inline src="/js/countdown.bundle.js"></script>
