---
import BuyNowModal from "../components/modals/BuyNowModal.astro";
import Hero from "../components/Hero.astro";
import PlaceBidModal from "../components/modals/PlaceBidModal.astro";
import HotBids from "../components/sections/HotBids.astro";
import Newsletter from "../components/sections/Newsletter.astro";
import TopCollections from "../components/sections/TopCollections.astro";
import TrendingCategories from "../components/sections/TrendingCategories.astro";
import WalletModal from "../components/modals/WalletModal.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <main>
    <Hero />
    <HotBids />
    <TopCollections />
    <TrendingCategories />
    <Newsletter />
  </main>

  <WalletModal />
  <BuyNowModal />
  <PlaceBidModal />
</HomeLayout>
