---
import DropdownToggle from "../../icons/DropdownToggle.astro";
import {
  homeDropdownLinks,
  pagesDropdownLinks,
  exploreLinks,
  resourcesLinks,
} from "./links-data";
import LinksDropdown from "./LinksDropdown.astro";
---

<nav class="navbar w-full">
  <ul class="flex flex-col lg:flex-row">
    <li class="js-nav-dropdown group relative">
      <a
        href="#"
        class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
        id="navDropdown-1"
        aria-expanded="false"
        role="button"
        data-bs-toggle="dropdown"
        >Inicio
        <i class="lg:hidden">
          <DropdownToggle />
        </i>
      </a>
      <LinksDropdown links={homeDropdownLinks} />
    </li>
    <li class="js-nav-dropdown group relative">
      <a
        href="#"
        class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
        id="navDropdown-2"
        aria-expanded="false"
        role="button"
        data-bs-toggle="dropdown"
        >Paginas
        <i class="lg:hidden"> </i>
      </a>

      <LinksDropdown links={pagesDropdownLinks} />
    </li>
    <li class="js-nav-dropdown nav-item dropdown group relative">
      <a
        href="collections"
        class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
        id="navDropdown-3"
        aria-expanded="false"
        role="button"
        data-bs-toggle="dropdown"
        >Explora
        <i class="lg:hidden"> </i>
      </a>
      <LinksDropdown links={exploreLinks} />
    </li>
    <li class="js-nav-dropdown group relative">
      <a
        href="#"
        class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
        id="navDropdown-4"
        aria-expanded="false"
        role="button"
        data-bs-toggle="dropdown"
        >Recursos
        <i class="lg:hidden"> </i>
      </a>
      <LinksDropdown links={resourcesLinks} />
    </li>
    <li class="group">
      <a
        href="create"
        class="flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
        >Crear</a
      >
    </li>
  </ul>
</nav>
