<section class="hero relative py-20 md:pt-32">
  <picture
    class="pointer-events-none absolute inset-x-0 top-0 -z-10 dark:hidden"
  >
    <img src="/img/gradient.jpg" alt="gradient" class="w-full" />
  </picture>
  <picture
    class="pointer-events-none absolute inset-x-0 top-0 -z-10 hidden dark:block"
  >
    <img src="/img/gradient_dark.jpg" alt="gradient dark" class="w-full" />
  </picture>

  <div class="container">
    <div class="py-24 text-center">
      <h1
        class="mb-6 font-display text-5xl text-jacarta-700 dark:text-white lg:text-6xl xl:text-7xl"
      >
        Collect Digital Art.
      </h1>
      <p class="mb-8 text-lg dark:text-jacarta-200">
        Buy and sell NFTs from the world's top artists
      </p>
      <div class="inline-flex space-x-4">
        <a
          href="create.html"
          class="w-36 rounded-full bg-accent py-3 px-8 text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
        >
          Create
        </a>
        <a
          href="collections.html"
          class="w-36 rounded-full bg-white py-3 px-8 text-center font-semibold text-accent shadow-white-volume transition-all hover:bg-accent-dark hover:text-white hover:shadow-accent-volume"
        >
          Explore
        </a>
      </div>
    </div>

    <div class="relative">
      <!-- Slider -->
      <div class="swiper card-slider-3-columns !pb-5">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <article>
              <div
                class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
              >
                <figure class="relative">
                  <a href="item.html">
                    <img
                      src="./img/products/item_12_lg.jpg"
                      alt="item 1"
                      height="430"
                      width="379"
                      class="swiper-lazy h-[430px] w-full object-cover"
                    />
                    <div class="swiper-lazy-preloader"></div>
                  </a>
                </figure>
                <div class="p-6">
                  <div class="flex">
                    <a href="user.html" class="shrink-0">
                      <img
                        src="/img/avatars/avatar_17_rounded.jpg"
                        alt="avatar"
                        class="mr-4 h-10 w-10 rounded-full"
                      />
                    </a>
                    <div>
                      <a href="item.html" class="block">
                        <span
                          class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                          >Light Bars</span
                        >
                      </a>
                      <a href="#" class="text-2xs text-accent">Wow Frens</a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article>
              <div
                class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
              >
                <figure class="relative">
                  <a href="item.html">
                    <img
                      src="./img/products/item_13_lg.gif"
                      alt="item 1"
                      class="swiper-lazy h-[430px] w-full object-cover"
                      height="430"
                      width="379"
                    />
                    <div class="swiper-lazy-preloader"></div>
                  </a>
                </figure>
                <div class="p-6">
                  <div class="flex">
                    <a href="user.html" class="shrink-0">
                      <img
                        src="/img/avatars/avatar_18_rounded.gif"
                        alt="avatar"
                        class="mr-4 h-10 w-10 rounded-full"
                      />
                    </a>
                    <div>
                      <a href="item.html" class="block">
                        <span
                          class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                          >Etherium NFT Launching Lab</span
                        >
                      </a>
                      <a href="#" class="text-2xs text-accent">051_Hart</a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article>
              <div
                class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
              >
                <figure class="relative">
                  <a href="item.html">
                    <img
                      src="./img/products/item_16_lg.jpg"
                      alt="item 1"
                      class="swiper-lazy h-[430px] w-full object-cover"
                      height="430"
                      width="379"
                    />
                    <div class="swiper-lazy-preloader"></div>
                  </a>
                </figure>
                <div class="p-6">
                  <div class="flex">
                    <a href="user.html" class="shrink-0">
                      <img
                        src="/img/avatars/avatar_22_rounded.jpg"
                        alt="avatar"
                        class="mr-4 h-10 w-10 rounded-full"
                      />
                    </a>
                    <div>
                      <a href="item.html" class="block">
                        <span
                          class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                          >Oceania \\ OVERSEER 017</span
                        >
                      </a>
                      <a href="#" class="text-2xs text-accent">MadeByM1KE</a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article>
              <div
                class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
              >
                <figure class="relative">
                  <a href="item.html">
                    <img
                      src="./img/pixel.jpg"
                      data-src="./img/products/item_14_lg.jpg"
                      alt="item 1"
                      class="swiper-lazy h-[430px] w-full object-cover"
                      height="430"
                      width="379"
                    />
                    <div class="swiper-lazy-preloader"></div>
                  </a>
                </figure>
                <div class="p-6">
                  <div class="flex">
                    <a href="user.html" class="shrink-0">
                      <img
                        src="/img/avatars/avatar_19_rounded.jpg"
                        alt="avatar"
                        class="mr-4 h-10 w-10 rounded-full"
                      />
                    </a>
                    <div>
                      <a href="item.html" class="block">
                        <span
                          class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                          >Amazing NFT art</span
                        >
                      </a>
                      <a href="#" class="text-2xs text-accent">Lila Spacex</a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article>
              <div
                class="block overflow-hidden rounded-2.5xl bg-white shadow-md transition-shadow hover:shadow-lg dark:bg-jacarta-700"
              >
                <figure class="relative">
                  <a href="item.html">
                    <img
                      src="./img/pixel.jpg"
                      data-src="./img/products/item_15_lg.jpg"
                      alt="item 1"
                      class="swiper-lazy h-[430px] w-full object-cover"
                      height="430"
                      width="379"
                    />
                    <div class="swiper-lazy-preloader"></div>
                  </a>
                </figure>
                <div class="p-6">
                  <div class="flex">
                    <a href="user.html" class="shrink-0">
                      <img
                        src="/img/avatars/avatar_20_rounded.jpg"
                        alt="avatar"
                        class="mr-4 h-10 w-10 rounded-full"
                      />
                    </a>
                    <div>
                      <a href="item.html" class="block">
                        <span
                          class="font-display text-lg leading-none text-jacarta-700 hover:text-accent dark:text-white"
                          >SwagFox#133</span
                        >
                      </a>
                      <a href="#" class="text-2xs text-accent">Bored Bunny</a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

      <!-- Navigation -->
      <div
        class="swiper-button-prev swiper-button-prev-3 group absolute top-1/2 -left-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume sm:-left-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="fill-jacarta-700 group-hover:fill-accent"
        >
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"
          ></path>
        </svg>
      </div>
      <div
        class="swiper-button-next swiper-button-next-3 group absolute top-1/2 -right-4 z-10 -mt-6 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white p-3 text-base shadow-white-volume sm:-right-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="fill-jacarta-700 group-hover:fill-accent"
        >
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
